/* MAIN ELEMENTS */

html {
    background-color: #e6e3d9;
}


/* HEADER */

#header_site {
	ul.menu {
		text-align: inherit; //override catstrap align right
	}
	.header__region {
		float: none;
		clear: right;
		// float: none;
		text-align: center;
		.block-menu {
			display: none;
			margin: 16px 0 24px 0;
			margin: 1rem 0 1.5rem 0;
			background-color: transparent;
			float: right;
		}
		#block-search-form {
		  float: none;
		  clear: both;
		  margin: 0;
		  .form-item {
			  display: inline;
			  input {
				  border-collapse: collapse;
				  width: 221px;
				  width: 13.8rem;
				  font-family: MiloWeb, sans-serif;
				  font-weight: normal;
				  font-size: 18px;
				  font-size: 1.125rem;
				  line-height: 1;
				  border: 0;
				  background-color: #eef1f1;
				  color: #333333;
				  padding: 8px;
				  padding: 0.5rem;
				  outline: 0;
				}
			}
			.form-actions {
			  display: inline;
			  input[type="submit"] {
				  text-indent: -9999em;
				  background: url("../images/search-icon.png");
				  width: 40px;
				  width: 2.5rem;
				  height: 40px;
				  height: 2.5rem;
				  background-size: 24px 24px;
				  border: 0;
				  background-repeat: no-repeat;
				  background-position: 9px 7px;
				  outline: 0;
				}
			}
			form {
			  border: 1px solid #d3d7de;
			  background-color: #eef1f1;
			  color: #333333;
			  width: 272px;
			  width: 17rem;
			  margin: 0 auto 24px;
			  margin: 0 auto 1.5rem;
			}
		}
	}
	#utility_links {
		display: none;
		clear: both;
		ul {
			font-family: 'MiloWeb-Medium';
			li {
				margin: 0;
				padding: 0;
				a,
				a:link,
				a:visited {
					color: #49595E; //$dark-silver
					padding: 16px 8px 8px;
					padding: 1rem 0.5rem 0.5rem;
					margin: 0;
					&:hover,
					&:focus,
					&:active {
						text-decoration: underline;
						color: #49595E; //$dark-silver
					}
				}
				&.last a { padding-right: 0; }
			}
		}
	}
}

@media screen and (min-width: 48em) {
	#header_site {

		.header__region {
			float: right;
		}

		.header__region .block-menu { display: block; }

		#block-search-form {
			padding-top: 16px;
			padding-top: 1rem;
			float: right;
			clear: right;
		}

		#utility_links {
			display: block;
			clear: none;
			ul {
				text-align: right;
				li {
					float: none;
					display: inline-block;
					margin: 0;
					padding: 0;
					&.last a { padding-right: 0; }
				}
			}
		}
	}
}

@media (max-width: 767px) {
  #header_site #search {
    width: 100%;
    float: none;
    clear: both;
  }
}


/* NEWS */

.view-news {
	.views-row {
		float: left;
		width: 100%;
		border-bottom: 2px solid #eef1f1;
		padding: 24px 0;
		padding: 1.5rem 0;
		.views-field-field-news-photos {
			img {
				// float: left;
				// max-width: 100%;
				width: 100%;
				height: auto;
				padding-right: 24px;
				padding-right: 1.5rem;
			}
		}
		.views-field-title {
			h2 {
				margin-top: 16px;
				margin-top: 1rem;
				margin-bottom: 4px;
				margin-bottom: 0.2rem;
			}
		}
		.views-field-field-news-publish-date {
			span {
				display: block;
				font-size: 18px;
				font-size: 1.125rem;
				font-weight: bold;
				color: #999;
				padding-bottom: 4px;
				padding-bottom: 0.2rem;
			}
		}
	}
}
@media (min-width: 30em) {
	.view-news .views-row .views-field-field-news-photos img {
		float: left;
		max-width: 240px;
		max-width: 15rem;
		width: 100%;
		height: auto;
	}
	.view-news .views-row .views-field-title h2 {
		margin-top: 0;
	}
}


/* SIDE MENUS */

@media screen and (min-width: 60em) {
	.sidebar ul.menu {
		list-style: none outside none;
		padding: 0;
		margin: 0;
		li {
			list-style: none outside none;
			padding: 0;
			margin: 0;
			display: block;
		}
		li > a,
		li > a:link,
		li > a:visited {
			position: relative;
			padding: 10px 16px;
			padding: 0.625rem 1rem;
			text-decoration: none;
			font-weight: normal;
			display: block;
			color: #333;
		}
	}
	.region-sidebar-first .menu > {
		li > a:hover,
		li > a:focus,
		li.active a,
		li a.active {
		    background: url("../images/sidebar-menu-chevron-left.png") no-repeat scroll 100% center / 30px 100% #dee8e7;
		    border-bottom: 0 solid rgba(0, 0, 0, 0);
		    color: #076873;
		    text-decoration: none;
		}
	}
	.region-sidebar-second .menu > {
		li > a:hover,
		li > a:focus,
		li.active a,
		li a.active {
		    background: url("../images/sidebar-menu-chevron-right.png") no-repeat scroll  0 center / 30px 100% #dee8e7;
		    border-bottom: 0 solid rgba(0, 0, 0, 0);
		    color: #076873;
		    text-decoration: none;
		}
	}
}


/* DRUPAL UI COMPONENTS */
div.contextual-links-wrapper,
#main div.contextual-links-wrapper {
	ul.contextual-links {
	display: none; /*resets display for contextual links js behavior*/
	float: none;
	}
	li,
	a:not(.contextual-links-trigger) {
		border: 0 none;
		float: none;
		display: inherit;
		text-align: left;
	}
}